.footer {
  background-color: $white;
  padding: 40px 0;

  @media (max-width:600px) {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:600px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      text-align: center;
      gap: 20px;
    }
  }

  &__item {
    max-width: 240px;

    @media (max-width:600px) {
      &:nth-child(2) {
        grid-column: span 2;
        order: -1;
      }
    }

    h2 {
      font-size: 22px;
      color: $black;
      font-weight: $fw-bold;
    }

    a {
      font-weight: $fw-bold;
    }
  }
}