.header {
  background: linear-gradient(0deg, rgba(148, 184, 255, 0.2) 0%, rgba(255, 255, 255, 0) 52%);
  padding-top: 52px;
  background-color: #0c2d6e;
  position: relative;
  overflow: hidden;

  @media (max-width:490px) {
    padding: 20px 0;
  }

  >img {
    position: absolute;
    right: 0;
    top: 0;
    width: 1300px;

    @media (max-width:1600px) {
      width: 1200px;
    }

    @media (max-width:1280px) {
      width: 900px;
    }

    @media (max-width:1024px) {
      width: 780px;
    }

    @media (max-width:800px) {

      width: 600px;
    }

    @media (max-width:650px) {
      display: none;
    }
  }


  .container {
    position: relative;
  }


  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    position: relative;
    z-index: 999;

    &.active {

      .header__burger {
        cursor: default;

        ul {
          opacity: 1;
          overflow: visible;
          transform: translate(0) scale(1);
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 22px;
      font-weight: $fw-bold;
      text-transform: uppercase;
      margin-right: 154px;

      @media (max-width:1280px) {
        margin-right: 80px;
      }

      @media (max-width:1024px) {
        margin-right: 60px;
        font-size: 18px;
      }

      @media (max-width:490px) {
        margin-right: 4px;
        font-size: 16px;
      }
    }

    nav {
      @media (max-width:800px) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          margin-right: 78px;

          &:last-child {
            margin-right: 0;
          }

          @media (max-width:1024px) {
            margin-right: 40px;
          }

          a,
          button {
            font-weight: $fw-medium;
            transition: $tr;
            color: inherit;

            &:hover {
              color: $purple;
            }
          }
        }
      }
    }
  }

  &__burger {
    display: none;
    cursor: pointer;

    @media (max-width:800px) {
      display: block;
    }

    svg {
      width: 30px;
      height: 30px;
      fill: $white;
    }

    ul {
      position: fixed;
      transition: $tr;
      z-index: 9999;
      right: 0;
      top: 0;
      height: 200px;
      width: 200px;
      opacity: 0;
      overflow: hidden;
      transform: translate(50%, -50%) scale(0);
      border-radius: 0 0 0 $br;
      background-color: $white;
      color: $black;
      display: flex;
      align-items: flex-start;
      padding: 20px;
      box-sizing: border-box;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $purple;

      >span {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
      }

      li {
        margin-bottom: 20px;

        button {
          font-weight: inherit;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }

  &__right {
    position: relative;

    a {
      font-weight: $fw-bold;
      font-size: 19px;

      @media (max-width:490px) {
        font-size: 14px;
      }
    }


  }


  &__intro {
    padding-top: 100px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    @media (max-width:1280px) {
      padding-top: 40px;
      padding-bottom: 80px;
    }

    @media (max-width:1024px) {
      padding-bottom: 40px;
    }

    @media (max-width:490px) {
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    &__text {

      h2 {
        font-weight: $fw-black;
        font-size: 66px;
        color: $white;
        text-transform: uppercase;
        line-height: 70px;
        letter-spacing: 8px;

        @media (max-width:1280px) {
          font-size: 40px;
          line-height: 50px;
          letter-spacing: 4px;
        }

        @media (max-width:640px) {
          font-size: 24px;
          line-height: 30px;

          span {
            display: block;
          }
        }

        span {
          color: $blue;
        }
      }

      button {
        margin-top: 60px;
        padding: 24px 42px;
        border-radius: 60px;
        color: $white;
        text-transform: uppercase;

        @media (max-width:1280px) {
          padding: 20px 30px;
          margin-top: 20px;
        }

        @media (max-width:640px) {
          padding: 10px 20px;
        }
      }
    }

    &__image {
      img {
        @media (max-width:1280px) {
          width: 500px;
          height: 400px;
        }

        @media (max-width:1024px) {
          width: 400px;
          height: 320px;
          object-fit: cover;
        }

        @media (max-width:770px) {
          width: 220px;
          height: 180px;
        }
      }

      @media (max-width:490px) {
        display: none;
      }
    }

  }

}