@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Museo-sans', '@fonts/MuseoSansCyrl700', $fw-bold , 'normal');
@include font-face('Museo-sans', '@fonts/MuseoSansCyrl300', $fw-light , 'normal');
@include font-face('Museo-sans', '@fonts/MuseoSansCyrl500', $fw-medium , 'normal');
@include font-face('Museo-sans', '@fonts/MuseoSansCyrl900', $fw-black , 'normal');